<!DOCTYPE html>
<html>
<head>

    <title>experto | Receipt</title>

    <!-- Start:- Start-Head-Tags -->

<!-- End:- Start-Head-Tags -->

</head>
<body>
<section class="p-2 p-md-5">
    <div class="col-12 p-1 center-mid">

        <!-- Start:- Receipt -->
        <div class="col-lg-9 col-xl-7 p-0 receipt-card border">

            <!-- Start:- Receipt-Header -->
            <div class="col-12 row m-0 p-0 p-md-3 receipt-header">
                <div class="col-8 p-1">
                    <img class="receipt-logo ml-4 mt-1 mt-md-2 mt-lg-3" src="assets/images/logo/logo-1.png" alt="Logo">

                    <h4 class="text-white ml-4 mt-3 mt-md-5">
                        <span>Abdulrahman</span>,<br>
                        Thank you very much for<br>
                        supporting us
                    </h4>

                    <label class="text-main-2 ml-4 mt-2 mb-4">
                        Choosing us means a lot to us
                    </label>
                </div>
                <div class="col-4 p-1 d-flex justify-content-center align-items-end">
                    <img class="img-receipt-robot mt-md-3" src="assets/images/invoice/robot.svg" alt="Robot">
                </div>
            </div>
            <!-- End:- Receipt-Header -->

            <!-- Start: Receipt-Body -->
            <div class="col-12 pt-3 pl-md-5 pr-md-5 receipt-body">

                <!-- Start:- Row -->
                <div class="row m-0 p-0">
                    <div class="col-8 col-md-8 p-0 r1-d1">
                        <img class="img-experto" src="assets/images/invoice/experto.svg" alt="experto"><br>
                        <label class="mt-2">Your Personal Technical Assistant</label>
                    </div>

                    <div class="col-4 col-md-4 p-0 r1-d2 text-right">
                        <label class="mt-0">
                            Total: 120 SAR
                        </label>
                        <label class="mt-0">
                            Sunday 12/5/2020
                        </label>
                    </div>
                </div>
                <!-- End:- Row -->

                <!-- Start:- Row -->
                <div class="row m-0 p-0 mt-4">
                    <div class="col-6 p-0 r2-d1">
                        <h5>Total:</h5>
                    </div>

                    <div class="col-6 p-0 r2-d2 text-right">
                        <h5>120 SAR</h5>
                    </div>
                </div>
                <!-- End:- Row -->

                <!-- Start:- Row -->
                <div class="row m-0 p-0 mt-3 r3-service">

                    <!-- Start:-service -->
                    <div class="col-9 p-0">
                        <label>Software Installation</label>
                    </div>

                    <div class="col-3 p-0 text-right">
                        <label>50 SAR</label>
                    </div>
                    <!-- End:-service -->

                    <!-- Start:-service -->
                    <div class="col-9 p-0">
                        <label>Hard Disk Change</label>
                    </div>

                    <div class="col-3 p-0 text-right">
                        <label>50 SAR</label>
                    </div>
                    <!-- End:-service -->

                    <!-- Start:-service -->
                    <div class="col-9 p-0">
                        <label>Checkup</label>
                    </div>

                    <div class="col-3 p-0 text-right">
                        <label>50 SAR</label>
                    </div>
                    <!-- End:-service -->

                </div>
                <!-- End:- Row -->


                <!-- Start:- Row -->
                <div class="row m-0 p-0 mt-4">
                    <div class="col-6 p-0 r4-d1">
                        <h5>Subtotal:</h5>
                    </div>

                    <div class="col-6 p-0 r4-d2 text-right">
                        <h5>50 SAR</h5>
                    </div>
                </div>
                <!-- End:- Row -->

                <!-- Start:- Row -->
                <div class="row m-0 p-0 mt-3 r4-excharge">

                    <!-- Start:-service -->
                    <div class="col-9 p-0">
                        <label>VAT</label>
                    </div>

                    <div class="col-3 p-0 text-right">
                        <label>50 SAR</label>
                    </div>
                    <!-- End:-service -->

                </div>
                <!-- End:- Row -->

                <!-- Start:- Row -->
                <div class="row m-0 p-0 mt-4">
                    <div class="col-12 p-0 r5-d1">
                        <h5>Amount Charged:</h5>
                    </div>
                </div>
                <!-- End:- Row -->

                <!-- Start:- Row -->
                <div class="row m-0 p-0 mt-3 r6-charge">

                    <!-- Start:-service -->
                    <div class="col-9 p-0">
                        <img class="img-paymethod" src="assets/images/payment/visa.png" alt="Pay Method">
                    </div>

                    <div class="col-3 p-0 text-right">
                        <label>120 SAR</label>
                    </div>
                    <!-- End:-service -->

                </div>
                <!-- End:- Row -->

                <!-- Start:- Row -->
                <div class="row m-0 p-0 mt-4">
                    <div class="col-12 p-0 r7-d1">
                        <h6>Quality assurance of service ..</h6>

                        <label class="mt-2">
                            If you are not satisfied with the level of service provided,<br>
                            do not hesitate to contact us<br>
                            via the application or email&nbsp;&nbsp;&nbsp;<a href="mailto:care@exprto.sa">care@exprto.sa</a>
                        </label>

                    </div>
                </div>
                <!-- End:- Row -->


                <!-- Start:- Row -->
                <div class="row m-0 p-0 mt-3 mt-md-5 mb-4 receipt-footer">

                    <!-- Start:-service -->
                    <div class="col-6 p-0 pt-2 receipt-footer-d1 d-flex align-items-center">
                        <img class="img-fluid" src="assets/images/invoice/footer-image.svg" alt="Footer Image">
                    </div>

                    <div class="col-6 p-0 pt-2 receipt-footer-d2 d-flex justify-content-end align-items-center">
                        <img class="img-footer mr-2" src="assets/images/invoice/invoice-apps-store.svg" alt="Apps Store">
                        <img class="img-footer" src="assets/images/invoice/invoice-google-play.svg" alt="Google Play">
                    </div>
                    <!-- End:-service -->

                </div>
                <!-- End:- Row -->


            </div>
            <!-- End: Receipt-Body -->

        </div>
        <!-- End:- Receipt -->

    </div>
</section>


<!-- Start:- Js -->

<!-- End:- Js -->
</body>
</html>
