/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/workspace.xml
*.xml
*.xml
*.xml
*.xml
*.iml
*.iml
*.xml
*.xml
/.idea
/.vscode
.zip
*.pdf
*.xml
*.pem
*.cnf
*.iml
*.xml
